.container {
  display: block;
  margin-bottom: 20px;
}
/*Candidate List Style*/
.candidate-container {
  width: 100%;
  flex-direction: Column;
}

.candidate-table {
  width: 100%;
  border-collapse: collapse;
}

/*Content in table*/
.candidate-table th,
.candidate-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/*Table label*/
.candidate-table th {
  background-color: #a8b1d8;
}

.delete-button{
  background-color: #6675b1;
  color: #fff;
  border: none;
  padding: 7.5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover{
  background-color: #5a679c;
}