h2 {
  text-align: center;
  font-size: 30px;
}

/* Style the table container */
.table-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px auto;
  position: relative;
  
}

.analysis-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  
}

.analysis-table th,
.analysis-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.analysis-table th {
  background-color: #a8b1d8;
}

/* Style checkboxes */
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.button-container {
  display: flex;
  align-items: flex-start;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

.set-button {
  background-color: #6675b1;
  color: #fff;
  border: none;
  padding: 7.5px 10px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.set-button:hover {
  background-color: #5a679c;
}

