.cover { 
  width: 300px; 
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #f2f2f2; }
h1 { 
  text-align: center; }
input { 
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  box-sizing: border-box; }
.login-btn { 
  background-color: #393f39; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  margin-top: 10px; 
  cursor: pointer; 
  border: none; 
  border-radius: 4px; }
.error-message { 
  color: red; 
  margin-top: 10px; 
  text-align: center; } 