.this { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    margin-top: 31px ;
    top: 0; 
    left: 0; 
    z-index: 9999; 
}
.main { 
    text-align: center; 
}
.main p { 
    font-size: 48px; 
    font-weight: bold; 

}
