.participant-container {
  width: 100%;
}

.participant-table {
  width: 100%;
  border-collapse: collapse;
}

.participant-table th,
.participant-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.participant-table th {
  background-color: #b6bad1;
}

.participant-table button {
  padding: 5px 10px;
  background-color: #3d58d1;
  color: white;
  border: none;
  cursor: pointer;
}

.participant-table button:hover {
  background-color: #2b409b;
}

.container {
  margin-bottom: 20px;
}